
<div class="center hero-unit">
	<h1>Rene Des Cart</h1>

	<% if user_signed_in? %>
		<label>You have succesfully signed in</label>
		<br>
		<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>

	<% else %>

		<%= link_to "Sign In", new_user_session_path, :method => :get %>
		<%= link_to "Sign up", new_user_registration_path, :method => :get %>

	<% end %>
</div>