
<div class="center hero-unit">
	<% if user_signed_in? %>
		<label>Welcome, <%= current_user.email %>! You have succesfully signed in.</label>
		<br><br>
		<h2> List of Available Items </h2>
		<br>
			
		<% @items_list.each do |item| %>
			<h4><%= item.name %>: Php<%= item.price %></h4>
			<p><%= item.description %></p>
			<br>
		<% end %>
	<% end %>
</div>