@import "bootstrap";

html {
	overflow-y: scroll;
}

body {
	padding-top: 50px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.checkout {
        width: 100%;
        clear: both;
    }

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

.group-form-block {
  width:250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.navbar-name {
	font-size: 1em;
	letter-spacing: -1px;
	margin-top: 15px;
	text-align: center;
	font-weight: normal;
	color: #999;
}
h1, h2, h3 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}


h2 {
	font-size: 2em;
	letter-spacing: -1px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: normal;
}


label {
	font-size: 1em;
	letter-spacing: -1px;
	margin-top: 5px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

form {
	display: inline
}

#owl-demo .item{
  display: block;
  cursor: pointer;
  background: #333333;
  padding: 10px 0px;
  margin: 5px;
  color: #FFF;
  height : 220px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}
#owl-demo .item:hover{
  background: #212221;
}

#owl-demo2 .item{
  display: block;
  cursor: pointer;
  background: #333333;
  padding: 30px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}
#owl-demo2 .item:hover{
  background: #212221;
}